.main__block-wrapp {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  height: 835px;
  display: flex;
  .main__slider-people {
    position: relative;
    display: none;
    .main__images {
      height: 835px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .container {
      margin: 0 auto;
      height: 100%;
    }
  }
 
  .mask__slider-people {
    display: none;
    .mask__images {
      height: 835px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .container {
      margin: 0 auto;
      height: 100%;
    }
  }
  .house__slider-people {
    display: none;
    // opacity: 0;
    // position: absolute;
    // top: 0;
    // left: 0;
    // transition: 0.8s ease-in-out;
    // -webkit-transition: 0.8s ease-in-out;
    // -moz-transition: 0.8s ease-in-out;
    // -ms-transition: 0.8s ease-in-out;
    // -o-transition: 0.8s ease-in-out;
    .house__images {
      height: 835px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .container {
      margin: 0 auto;
      height: 100%;
    }
  }
}

// активное состояние
.main__slider-people.active {
  display: block;
}

.mask__slider-people.active {
  display: block;
}

.house__slider-people.active {
  display: block;
}

// media
@media (max-width: 1600px) {
  .main__block-wrapp {
    height: 735px;
    .main__slider-people {
      .main__images {
        height: 735px;
      }
    }
    // mask
    .mask__slider-people {
      .mask__images {
        height: 735px;
      }
    }
    // house
    .house__slider-people {
      .house__images {
        height: 735px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .main__block-wrapp {
    height: 660px;
    .main__slider-people {
      .main__images {
        height: 660px;
      }
    }
    // mask
    .mask__slider-people {
      .mask__images {
        height: 660px;
        img {
          object-fit: none;
        }
      }
    }
    // house
    .house__slider-people {
      .house__images {
        height: 660px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main__block-wrapp {
    height: 586px;
    .main__slider-people {
      .main__images {
        height: 586px;
      }
    }
    // mask
    .mask__slider-people {
      .mask__images {
        height: 586px;
      }
    }
    // house
    .house__slider-people {
      .house__images {
        height: 586px;
      }
    }
  }
}
