.slider__title-mask {
  position: absolute;
  top: 286px;
  left: 310px;
  margin: 0 0 0 8px;
  width: 622px;
  height: 104px;
  color: #003e84;
  font-size: 44px;
  font-weight: 700;
  font-family: 'Arvo';
  text-transform: uppercase;
}
.slider__text-mask {
  position: absolute;
  top: 405px;
  left: 310px;
  margin: 0 0 0 8px;
  width: 592px;
  height: 48px;
  p {
    color: #000000;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Prompt';
  }
}
.slider__button-mask {
  position: absolute;
  top: 492px;
  left: 310px;
  width: 287px;
  margin: 0 0 0 8px;
  .btn-mask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 36px;
    width: 343px;
    height: 60px;
    background-color: #ffbc21;
    color: #000000;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Prompt';
    border: none;
    outline: none;
    cursor: pointer;
  }
  .btn-mask:hover {
    background-color: #ffcf4b;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    .a {
      fill: #ffcf4b;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
}
    .b {
      stroke: #000000;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
}
  }
}

// media
@media (max-width: 1600px) {
  .slider__title-mask {
    top: 200px;
    left: 140px;
  }
  .slider__text-mask {
    top: 319px;
    left: 140px;
  }
  .slider__button-mask {
    top: 403px;
    left: 140px;
  }
}

@media (max-width: 1440px) {
  .slider__title-mask {
    left: 70px;
  }
  .slider__text-mask {
    left: 70px;
  }
  .slider__button-mask {
    left: 70px;
  }
}

@media (max-width: 1366px) {
  .slider__title-mask {
    left: 30px;
  }
  .slider__text-mask {
    left: 30px;
  }
  .slider__button-mask {
    left: 30px;
  }
}

@media (max-width: 768px) {
  .slider__title-mask {
    width: 280px;
    height: 54px;
    font-size: 20px;
    top: 130px;
    left: 42px;
  }
  .slider__text-mask {
    width: 280px;
    top: 190px;
    left: 42px;
    p {
      font-size: 15px;
    }
  }
  .slider__button-mask {
    top: 325px;
    left: 42px;
    .btn-mask {
      width: 276px;
      height: 60px;
      font-size: 15px;
      padding-left: 16px;
    }
  }
}
