// .slider__wrapp-main {
//   position: absolute;
//   top: 155px;
//   left: 310px;
  .slider__title {
    position: absolute;
    top: 155px;
    left: 310px;
    margin: 0 0 0 8px;
    width: 493px;
    height: 76px;
    color: #003e84;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Arvo';
    text-transform: uppercase;
  }
  .habat__logo {
    position: absolute;
    top: 241px;
    left: 310px;
    margin: 0 0 0 8px;
    img {
      width: 431px;
      height: 85px;
    }
  }
  .slider__text {
    position: absolute;
    top: 352px;
    left: 310px;
    margin: 0 0 0 8px;
    width: 349px;
    height: 70px;
    p {
      color: #000000;
      font-size: 17px;
      font-weight: 400;
      font-family: 'Prompt';
    }
  }
  .slider__button {
    position: absolute;
    top: 478px;
    left: 310px;
    width: 287px;
    margin: 0 0 0 8px;
    .btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 24px;
      width: 287px;
      height: 60px;
      background-color: #ffbc21;
      color: #000000;
      font-size: 17px;
      font-weight: 400;
      font-family: 'Prompt';
      border: none;
      outline: none;
      cursor: pointer;
    }
    .btn:hover {
      background-color: #ffcf4b;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
      .a {
        fill: #ffcf4b;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
      .b {
        stroke: #000000;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
      }
    }
  }
// }

// media
@media (max-width: 1600px) {
  .slider__title {
    top: 100px;
    left: 140px;
  }
  .habat__logo {
    top: 186px;
    left: 140px;
  }
  .slider__text {
    top: 297px;
    left: 140px;
  }
  .slider__button {
    top: 403px;
    left: 140px;
  }
}

@media (max-width: 1440px) {
  .slider__title {
    left: 70px;
  }
  .habat__logo {
    left: 70px;
    img {
      width: 370px;
    }
  }
  .slider__text {
    left: 70px;
  }
  .slider__button {
    left: 70px;
  }
}

@media (max-width: 1366px) {
  .slider__title {
    left: 30px;
  }
  .habat__logo {
    left: 30px;
  }
  .slider__text {
    left: 30px;
  }
  .slider__button {
    left: 30px;
  }
}

@media (max-width: 768px) {
  .slider__title {
    width: 230px;
    height: 48px;
    font-size: 20px;
    top: 68px;
    left: 42px;
  }
  .habat__logo {
    top: 110px;
    left: 42px;
    img {
      width: 221px;
    }
  }
  .slider__text {
    width: 270px;
    height: 62px;
    font-size: 15px;
    top: 190px;
    left: 42px;
  }
  .slider__button {
    top: 325px;
    left: 42px;
    .btn {
      width: 254px;
      height: 60px;
      font-size: 15px;
      padding-left: 18px;
    }
  }
}