.tabs {
  padding: 0 20px;
  margin: 112px auto 0;
  max-width: 1920px;
  min-height: 800px;
  .container {
    max-width: 1300px;
    margin: 0 auto;
    .tabs__title {
      padding: 0 20px;
      text-align: center;
      color: #000000;
      font-size: 36px;
      font-weight: 400;
      font-family: 'Arvo';
    }
    .tabs__subtitle {
      padding: 0 20px;
      margin-top: 16px;
      text-align: center;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Roboto';
    }
  }
}

// media
@media (max-width: 767px) {
  .tabs {
    padding: 0;
    margin-top: 60px;
    .container {
      .tabs__title {
        padding: 0 20px;
        font-size: 30px;
      }
      .tabs__subtitle {
        padding: 0 20px;
        font-size: 15px;
      }
    }
  }
}