.nav {
  width: 677px;
  height: 125px;
  line-height: 122px;
  margin-right: 74px;
  .nav__list {
    display: flex;
    justify-content: space-between;
    .nav__item {
      line-height: 125px;
      position: relative;
      z-index: 1;
      .nav__link {
        color: #000000;
        font-size: 17px;
        font-weight: 400;
        font-family: 'Prompt';
      }
    }
    .nav__item::after {
      position: absolute;
      content: '';
      border-bottom: 5px solid #ffbc21;
      left: 0;
      bottom: 0;
      width: 100%;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.6s;
      -webkit-transition: transform 0.6s;
      -moz-transition: transform 0.6s;
      -ms-transition: transform 0.6s;
      -o-transition: transform 0.6s;
    }
    .nav__item:hover:after {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform-origin: left;
    }
    .nav__item:nth-child(5) {
      padding: 0;
    }
  }
}
.header__contacts {
  height: 100%;
  padding-top: 30px;
  .phone {
    width: 201px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    .phone__link {
      color: #000000;
      font-size: 35px;
      font-weight: 400;
      font-family: 'Prompt';
    }
  }
  .email {
    width: 201px;
    height: 21px;
    line-height: 21px;
    border-bottom: 1px solid #ffbc21;
    .email__link {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      font-family: 'Prompt';
    }
  }
}

// media
@media (max-width: 1280px) {
  .nav {
    margin-right: 40px;
  }
}

// 1024px
@media (max-width: 1024px) {
  .nav {
    width: 500px;
    margin-right: 16px;
    line-height: 108px;
    .nav__list {
      .nav__item {
        .nav__link {
          font-size: 14px;
        }
      }
      .nav__item:hover {
        border-bottom: 3px solid #ffbc21;
      }
    }
  }
  .header__contacts {
    padding-top: 22px;
    .phone {
      height: 40px;
      line-height: 40px;
      .phone__link {
        font-size: 32px;
      }
    }
  }
}

// 768px
@media (max-width: 768px) {
  .nav {
    width: 400px;
    margin-right: 18px;
    line-height: 90px;
    .nav__list {
      .nav__item {
        .nav__link {
          font-size: 12px;
        }
      }
      .nav__item:hover {
        border-bottom: 2px solid #ffbc21;
      }
    }
  }
  .header__contacts {
    padding-top: 16px;
    .phone {
      width: 180px;
      height: 36px;
      line-height: 36px;
      .phone__link {
        font-size: 24px;
      }
    }
    .email {
      width: 180px;
      .email__link {
        font-size: 12px;
      }
    }
  }
}
