@import 'fonts';
@import './header/header';
@import './header/headerNav';
@import './header/menu';
@import './sectionSlider/mainSlider';
@import './sectionSlider/sliderWrappMain';
@import './sectionSlider/sliderWrappMask';
@import './sectionSlider/sliderWrappHouse';
@import './sectionSlider/blockSlider';
@import './rectangle';
@import './tabs/tabs';
@import './tabs/tabsContent';
@import './tabs/contentWrappOne';
@import './tabs/contentWrappTwo';
@import './footer/footer';
@import './accordion/accordion';
@import './footer/footerStortive';
@import './footer/footerKontakt';
@import './footer/footerRadian';
@import './modalWindow/modalWindow';
@import './modalWindow/blockLeft';
@import './modalWindow/blockRight';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Arvo', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Prompt', sans-serif;
}



