@import 'fonts';
@import './header/header';
@import './header/headerNav';
@import './header/menu';
@import './sectionSlider/mainSlider';
@import './sectionSlider/sliderWrappMain';
@import './sectionSlider/sliderWrappMask';
@import './sectionSlider/sliderWrappHouse';
@import './sectionSlider/blockSlider';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Arvo', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Prompt', sans-serif;
}

// body {
//   height: 100%;
// }


